
.stats {
  position: relative;
  display: inline-block;

}

.stats-label {
    font-weight: 500;
    font-size: small;
}

.stats-value {
    font-size: larger;
    font-weight: 300;
}

.info-active {
    display: block; 
}

.info-hidden {
    display: none;
}
.route-options {
    margin-bottom: 80px;
}