/*
denne filen inneholder standard for alle sidene.
endringer her endrer standarden for css i alle filene

https://www.gatsbyjs.org/tutorial/part-two/
denne filen er koblet til gatsby-browser.js

*/

/* html er all html, altså ganske generelt */
html {
    background-color: black;
    color: white;
    width: 600 px;
    height: 10000px;
    font-family: Fremtind Grotesk;
}

/* a er alle linker. linker er også knappene i navbaren! */
a {
    color: #999999; 
  }

