.p__tekstOverPersonlia {
    font-size: 10;
    padding-left: 25px;
    font-weight: 300;
    width: 80%;
    margin-bottom: 0px;
}

.p__personlia {
    font-size: 16;
    font-weight: 500;
    padding-left: 35px;

}