@font-face {
  font-family: "Fremtind Grotesk";
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/FremtindGrotesk-Regular-Web.woff2") format("woff2"), url("/fonts/FremtindGrotesk-Regular-Web.woff") format("woff");
}
@font-face {
  font-family: "Fremtind Grotesk";
  font-display: fallback;
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/FremtindGrotesk-Bold-Web.woff2") format("woff2"), url("/fonts/FremtindGrotesk-Bold-Web.woff") format("woff");
}
@font-face {
  font-family: "Fremtind Grotesk";
  font-display: fallback;
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/FremtindGrotesk-Italic-Web.woff2") format("woff2"), url("/fonts/FremtindGrotesk-Italic-Web.woff") format("woff");
}
@font-face {
  font-family: "Fremtind Grotesk";
  font-display: fallback;
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/FremtindGrotesk-BoldItalic-Web.woff2") format("woff2"), url("/fonts/FremtindGrotesk-BoldItalic-Web.woff") format("woff");
}
@font-face {
  font-family: "Fremtind Grotesk Display";
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/FremtindGrotesk-Display-Web.woff2") format("woff2"), url("/fonts/FremtindGrotesk-Display-Web.woff") format("woff");
}
@font-face {
  font-family: "Fremtind Grotesk Mono";
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/FremtindGroteskMono-Regular-Web.woff2") format("woff2"), url("/fonts/FremtindGroteskMono-Regular-Web.woff") format("woff");
}